@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");

select {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.my-container{
    max-width: 600px !important;
    background-color: red;
}